PORT=4000
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sgc_unt
DB_USER=sgc_user
DB_PASSWORD=sgc_pass_2024

# PostgreSQL superuser credentials (for setup/reset)
DB_SUPERUSER=postgres
DB_SUPERPASSWORD=postgres

# JWT
JWT_SECRET=sgc_unt_jwt_super_secreto_2024
JWT_EXPIRA=8h

# Frontend
FRONTEND_URL=http://localhost:3000

# Logs
LOG_LEVEL=info
